@use "../layout/media-queries"as *;
@use '../globals/fonts' as font;

.people-say-about-us{
    text-align: center;
    padding: 50px 0;

    .title{
        font-size: 39px;
        font-family: font.$jost;
        font-weight: 400;
        
    }
    
    p{
        font-family: font.$ibrra-real-nava;
        color: var(--sub-feature-color);
        font-size: 20px;
        font-style: italic;
        
    }
}