@use "../layout/media-queries"as *;
@use "../globals/fonts"as font;

.third-hero{
    overflow: hidden;
    width: auto;

    margin: 50px 0;

    @include breakpoint-down(sm){
        position: relative;
    }

    @include breakpoint-up(lg){
        height: 90vh;
    }

    .third-hero-image{
        display: block;
        height: auto;
        width: 100%;
    }


}